 
 input{
    border-radius: 2px;
    border:none;
    padding: 0.8%;
 }
 .email-input {
    width:500px;
}

button {
    width: 90px;
    height: 35px;
    border-radius: 2px;
    border: none;
    padding: 0.8%;
}

.submit-btn {
    width: 80px;
    height: 25px;
}