@import'partials/variables';

 input{
    border-radius: 2px;
    border:none;
    padding: 0.8%;
 }
 .email-input {
    width:500px;
}

button {
    width: 90px;
    
    border-radius: 2px;
    border: none;
    padding: 0.8%;
    background-color: $primary-color;
}

.submit-btn {
    width: 80px; 
    height: 25px;
    background-color: $primary-color;
}

//Auto carousel begins here

.partners {
    margin: 40px;
    height: 250px;
    width: 300px;

}

#heroGallery {
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 3%;
    
}
@keyframes carousel {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-2900px, 0, 0); }
}
#carousel {
    width: 5800px;
    height: 600px;
    transform: translate3d(0,0,0);
    animation: carousel 10s linear infinite;
}
#carousel li {
    display: block;
    float: left;
}

// Auto carousel ends here

  