@import'partials/variables';

 input{
    border-radius: 2px;
    border:none;
    padding: 0.8%;
 }
 .email-input {
    width:500px;
}

button {
    width: 90px;
    
    border-radius: 2px;
    border: none;
    padding: 0.8%;
    background-color: $primary-color;
}

.submit-btn {
    width: 80px;
    height: 25px;
    background-color: $primary-color;
}