// @import'partials/variables';



// Navbar starts here

.grid-container {
    display:grid;
    /* Creating columns */
    grid-template-columns: 33.4% auto 33.3%;
    /* Create spaces between items or "blocks" */
    grid-gap: 0;
    background-color: white;
    color:black;
    padding:5px;
}
.grid-container >div {
    // background-color: royalblue;
    text-align: center;
    // padding: 20px 0;
    font-size: 34px;
}
  
.grid-container2{
    display:grid;
    /* Creating columns */
    grid-template-columns: 100% ;
    /* Create spaces between items or "blocks" */
    grid-gap: 0;
    background-color: black;
    color:white;
    padding:20%;
   
}

.grid-container2 >div {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

// Grid-container3 has nested grid 

.grid3content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 50% 25% 25% ;
    /* Create spaces between items or "blocks" */
    grid-auto-rows: auto auto;
    grid-gap:20px;
    color:black;
    padding: 10%;
}
.grid3content >div {
    text-align: left;
    padding: 1%; 
}

.item-1 {
    grid-column: span 1;
    grid-row: span 2;
    height:500px;
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgba(0, 0, 0, 0.5);

}

.item-3 {
    grid-column-start: 3;
    grid-column-end: 4; 
    background-color: rgba(0, 0, 0, 0.5);
}

.item-4 {
    background-color: rgba(0, 0, 0, 0.5);
}
.item-5 { 
    background-color: rgba(0, 0, 0, 0.5);
}

// grid-container3 styling ends here

// grid-container4 styling starts here

.grid4content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 33.4% auto 33.3%;
    /* Create spaces between items or "blocks" */
    grid-gap: 10px;
    background-color: rgba(0, 0, 0, 1);
    color:white;
    padding: 2% 10%;
}

.grid4content >div {
    // background-color: royalblue;
    text-align: center;
    padding: 20px; 
}

// Grid-container4 ends here

// grid-container5 starts here

.grid-container5 {
    background-color: white;
    padding-left: 25%;
    padding-top: 4%;
    padding-right: 15%;
}

.grid5content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 25% 25% 50% ;
    /* Create spaces between items or "blocks" */
    grid-template-rows: auto auto;
    grid-gap: 10px;
    
    color:white;
    padding-right: 15%;
    padding-bottom: 5%;
}

.grid5content >div {
    background-color: grey;
    text-align: center;
    padding: 20px;
    // height:200px;
}

.item-11 {
    grid-row: span 2;
    height:400px;
}

.grid-container6 {
    background-color: rgb(104, 9, 9);
    padding-left: 25%;
    padding-top: 4%;
    padding-right: 15%;
}

.grid6content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 25% 25% 25% 25%;
    /* Create spaces between items or "blocks" */
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color:rgb(104, 9, 9);
    color:white;
    padding-right: 4%;
    padding-bottom: 5%;
}

.grid6content >div {
    background-color: royalblue;
    text-align: center;
    padding: 20px;
}

.grid7content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 25% 25% 25% 25%;
    /* Create spaces between items or "blocks" */
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color:rgb(14, 13, 13);
    color:white;
    padding: 2% 20%;
}

.grid7content >div {
    background-color: royalblue;
    text-align: center;
    padding: 20px;
    height: 100px;
}

.grid8content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 100%;
    /* Create spaces between items or "blocks" */
    grid-template-rows: auto auto;
    grid-gap: 0;
    background-color:rgb(156, 6, 6);
    color:white;
    padding: 2% 30%;
}

.grid8content >div {
    background-color: royalblue;
    text-align: center;
    height: 150px;
}

.grid-container9 {
    display:grid;
    /* Creating columns */
    grid-template-columns: auto;
    /* Create spaces between items or "blocks" */
    
    background-color:rgb(13, 7, 104);
    color:white;
    padding:5% 20%;
}

.grid-container9 >div {
    text-align: center;
    height: 150px;
}

.grid10content {
    display:grid;
    /* Creating columns */
    grid-template-columns: 35% 17% 24% 24%;
    /* Create spaces between items or "blocks" */
    grid-gap: 5px;
    background-color:rgb(184, 0, 0);
    color:white;
    padding:5% 20%;
}

.grid10content >div {
    background-color: royalblue;
    text-align: center;
    height: 150px;
}

.footercontent {
    display:grid;
    /* Creating columns */
    grid-template-columns: 50% 50%;
    /* Create spaces between items or "blocks" */
    grid-gap: 5px;
    background-color:rgb(184, 0, 0);
    color:white;
    padding-top: 5%;
    padding-right: 1%;
}

.footercontent >div {
    background-color: royalblue;
    text-align: center;
    height: 150px;
}
 

